<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjectOffice.Properties.Settings>
            <setting name="versionApp" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="ProjectIdLastSelect" serializeAs="String">
                <value />
            </setting>
        </ProjectOffice.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=DESKTOP-NM4JG25\TEST;Initial Catalog=113-Burnasov-ProjectOffice;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="Microsoft.EntityFrameworkCore.SqlServer"></add>
	</connectionStrings>
</configuration>