@page "/Menu"
@inject NavigationManager NavigationManager
<PageTitle>Меню</PageTitle>

<h1>Добро пожаловать в Проектный офис</h1>

Выберите меню для перехода



@code{
    protected override void OnInitialized(){
        Services.PageService.HistoryLinkPage.Add(NavigationManager.Uri);
    }
}